* {
    font-family: monospace;
    font-size: 110%;
    box-sizing: border-box;
}
.calculator {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    background-color: #000f0f;
    padding: .5em;
}
h1 {
    text-align: center;
}
.display {
    background-color: #338888;
    border: 1px solid #001010;
    color: white;
    text-align: end;
    padding: .5em;
}
.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
button {
    transition: all 0.5s;
    position: relative;
}
.controls, .operation, .digit, .manipulation {
    border-radius: 0px;
    border: 1px solid #001010;
    padding: .2em;
}
#clear {
    grid-column: 1 / span 2;
}
.operation {
    background-color: #ddeeee;
}
.manipulation, .digit {
    background-color: #eeeeee;
}
.controls {
    background-color: #dddddd;
}

/* functional classes */
.brokenDisplay {
    background-color: #b22222;
    position: relative;
    transform: translate(0px, 150px) rotate(-25deg) scale(1.1);
    z-index: 3;
}
.brokenBckground {
    background-color: #000000;
}
.brokenBtns {
    background-color: #ffd700;
}

@media screen and (min-width: 1000px) {
    .calculator {
        width: 50%;
    }
}
@media screen and (max-width: 800px) {
    .calculator {
        width: 80%;
    }
}
@media screen and (max-width: 600px) {
    .calculator {
        width: 95%;
    }
}
