body {
    background-color: darkslategrey;
}
* {
    font-family: monospace;
    font-size: 110%;
    box-sizing: border-box;
}
#root {
    background-color: white;
    min-height: 100vh;
}

/* HOME PAGE */
.main-nav-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    padding: .5em 0 1em;
    background-color: darkslategrey;
}
.nav-button {
    padding: .5em .7em;
    font-size: 90%;
    text-transform: uppercase;
    background-color: white;
    border: .1em solid white;
    outline: none;
}
.nav-button:focus, .nav-button:active {
    border: .1em solid darkslategrey;
}

/* COMMON ELEMENTS */
h1 {
    text-align: center;
}
.component {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CLASS TOPICS */
h2 {
    color: darkslategrey;
}
.topic-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 90%;
}
.topic-categories section {
    margin: .5em 1em;
    flex: 2 0;
}
.topic-categories ul {
    font-size: 90%;
}

/* CLOCK */
.timer {
    font-size: 150%;
    padding: 1em;
    border: 2px solid darkslategrey;
    background: linear-gradient(135deg, darkslategrey 0% 5%, transparent 5% 95%, darkslategrey 95% 100%),
                linear-gradient(45deg, darkslategrey 0% 5%, transparent 5% 95%, darkslategrey 95% 100%);
}
.refresh-clock-btn {
    margin: 1em auto;
    padding: .2em .5em;
}

/* COUNTER */
.counter-body {
    display: flex;
    margin: 1em auto;
    padding: 1em;
    border: 2px solid darkslategrey;
}
.counter-body * {
    margin: auto .5em;
}
.inc-dec-btn {
    background-color: darkslategrey;
    color: white;
    border-radius: 3px;
}
.reset-btn {
    margin: 1em auto;
    padding: .2em .5em;
}

/* COMMENTS */
.comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 80%;
}
.Comment {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    margin: 1em;
    padding: 1em;
    border: 2px solid darkslategrey;
    text-align: center;
    font-size: 100%;

}
.UserInfo-name {
    font-weight: bold;
    margin: .5em auto;
}
.Comment-date {
    font-size: 90%;
    margin: 1em auto .5em;
}

/* CALCULATOR */
.calculator {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    background-color: #000f0f;
    padding: .5em;
}
.display {
    background-color: #338888;
    border: 1px solid #001010;
    color: white;
    text-align: end;
    padding: .5em;
}
.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
button {
    transition: all 0.5s;
    position: relative;
}
.controls, .operation, .digit, .manipulation {
    border-radius: 0px;
    border: 1px solid #001010;
    padding: .2em;
}
#clear {
    grid-column: 1 / span 2;
}
.operation {
    background-color: #ddeeee;
}
.manipulation, .digit {
    background-color: #eeeeee;
}
.controls {
    background-color: #dddddd;
}

/* functional classes */
.brokenDisplay {
    background-color: #b22222;
    position: relative;
    transform: translate(0px, 150px) rotate(-25deg) scale(1.1);
    z-index: 3;
}
.brokenBckground {
    background-color: #000000;
}
.brokenBtns {
    background-color: #ffd700;
}

@media screen and (min-width: 1000px) {
    .calculator {
        width: 50%;
    }
}
@media screen and (max-width: 800px) {
    .calculator {
        width: 80%;
    }
}
@media screen and (max-width: 600px) {
    .calculator {
        width: 95%;
    }
}
